<%= form_for(@white_label) do |f| %>
  <% if @white_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@white_label.errors.count, "error") %> prohibited this white_label from being saved:</h2>

      <ul>
      <% @white_label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
